@(eventForm: Form[models.Event])


@main("Add Event"){

<div class="container" style="width:600px">
	<div id="legend">
    	<legend>Add Event</legend>
  	</div>
  
	<fieldset>
	<!-- Event Name -->
	@text(eventForm("name"),
    	label = "Name",
        placeholder = "Event Name",
        help = "Event Name")
        
	<!-- Event Description -->
	@textarea(eventForm("description"),
    	label = "Description",
        placeholder = "Event Description",
        help = "Event description")
        
	<!--  Calendar  -->        
	@checkboxes(eventForm("calendar"),
    	label = "Calendars",
        checkboxMap =  Map("Cal1" -> false, "Cal2" -> false),  //FEED IN AS PARAMETER
        help = "Check one or more calendars")    
     
     <!-- Recurring FIX DIS-->        
	@radiobuttons(eventForm("recurrence"),
		label = "Recurrence",
        buttonNameList = List("Daily", "Weekly", "Montly", "Yearly"),
        help = "Recurrence")
        
      <!-- Email -->         		               
	@select(eventForm("email"),
          label = "Email Reminder",
          optionMap = Map("1" -> false, "2" -> false, "3" -> false, "4" -> false),
          isMultiple = false,
          help = "How many days before would you like a reminder?")     
                             
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">   				
      		<button id="submit" type="submit" value="Submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Create</button>
      		<a href="./agenda" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span> Cancel</a>
    	</div>
  	</div>
  
    
	</fieldset>
	
</div>
}