@main("Add Event"){
<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-timepicker.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/icon-large.min.css")">
	  <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.min.js")"></script>
</head>

<body>
<br><br><br><br>
<div class="container">

	<form class="form-horizontal">
		<legend> Add Event</legend>
		<div class="form-group">
			<label for="textinput" class="col-sm-2 control-label">Event Name</label>
			  <div class="col-sm-10">
				<input id="textinput" name="textinput" type="text"
					placeholder="Event Name Here" class="input-xlarge" style="width:200px">
				</div>
		</div>

		<div class="form-group">
			<label for="textinput" class="col-sm-2 control-label">Event Description</label>
			  <div class="col-sm-10">
				<textarea class="form-control" name="textinput" type="textbox"
					placeholder="Event Name Here" style="width:200px">
				</textarea>
				</div>
		</div>

		<div class="form-group">
			<label for="form-control" class="col-sm-2 control-label">Calendar</label>	
				<div class="col-sm-10">
					<select class="form-control" style="width:200px">
 						<option>1</option>
  						<option>2</option>
  						<option>3</option>
  						<option>4</option>
  						<option>5</option>
					</select>
				</div>
		</div>
	
		<div class="form-group">
			<label for="form-control" class="col-sm-2 control-label">Start Time</label>	
				<div class="col-sm-10">
					<div class="input-append bootstrap-timepicker">
			            <input id="timepicker1" type="text" class="input-small">
			            <span class="add-on"><span class="glyphicon glyphicon-time"></span></span>
			        </div>
			 
			        <script type="text/javascript">
			            $('#timepicker1').timepicker();
			        </script>
				</div>
		</div>
     
		<div class="form-group">
			<label for="form-control" class="col-sm-2 control-label">End Time</label>	
				<div class="col-sm-10">
					<div class="input-append bootstrap-timepicker">
			            <input id="timepicker2" type="text" class="input-small">
			            <span class="add-on"><span class="glyphicon glyphicon-time"></span></span>
			        </div>
			 
			        <script type="text/javascript">
			            $('#timepicker2').timepicker();
			        </script>
				</div>
		</div>


		<div class="form-group">
			<label for="form-control" class="col-sm-2 control-label">Recurring</label>	
				<div class="col-sm-10">		
 						<input type="checkbox" id="recurringBox">	
				</div>
		</div>

		<script>
			$('#dailyCheckbox').on('click', function(ev) {
    		$('#myModal').modal('show');


 
			});
		</script>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="myModalLabel">Recurring</h4>
      				</div>
      			<div class="modal-body">

  					<div class="form-group">
						<label for="form-control" class="col-md-2 control-label">Repeat</label>	
							<div class="col-sm-10">
								<select class="form-control" style="width:200px">
 									<option>Daily</option>
  									<option>Weekly</option>
  									<option>Monthly</option>
  									<option>Yearly</option>
							</select>


				</div>
		</div>



      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<button type="button" class="btn btn-primary">Save changes</button>
      			</div>
    			</div>
  			</div>
		</div>


			<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Create</button>
			<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Cancel</button>
	</form>

</div>

</body>
}