@main("Agenda"){

<div class="container">
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Agenda</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Sign Out</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</nav>
</div>

<div class="container">
	<div class="row">
	<div class="col-md-9">
	<h1>Date</h1>
	<div class="btn-group" role="group">
		<button type="btn btn-default">Prev</button>
		<button type="btn btn-default">Next</button>	
	</div>
	</div>
	<div class="col-md-3">
		<button type="btn btn-lg">Add Event</button>
	</div>
	</div>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Description</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>12-3</td>
				<td>Meeting</td>
				<td>Hudson</td>
			</tr>
		</tbody>
	
	</table>

</div>
}
