@main("Agenda"){

<div class="container">
	<div class="row">
	<div class="col-md-9">
	<h1>Date</h1>
	<div class="btn-group" role="group">
		<a href="./agenda" class="btn btn-default" role="button">Prev</a>
		<a href="./agenda" class="btn btn-default" role="button">Next</a>	
	</div>
	</div>
	<div class="col-md-3">
		<a href="./addEvent" class="btn btn-info" role="button">Add Event</a>
	</div>
	</div>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Description</th>
				<th>Location</th>
				<th>Owner</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>12-3</td>
				<td>Meeting</td>
				<td>Hudson</td>
				<td>Me</td>
			</tr>
		</tbody>
	
	</table>

</div>
}
