@(groupForm: Form[models.Group])

@main("Create Group"){

	<div class="row">
    <div class="span8">
    <h2>Add a group</h2>
	    @helper.form(action = routes.Users.addGroup, 'class -> "form-horizontal") {
	    @helper.inputText(groupForm("name"))
	    
	    @helper.inputText(groupForm("owner"))
	    Hidden form: auto fill with authenticated userid (I can pass that in). Possibly use placeholder fake ID.
	    Idea: just make this an optional field that is always filled in later?
	    
	    <br><br> 
	    Add users in form, not on page
	    
	    <div class="form-actions">
	        <input class="btn btn-primary" type="submit">
	    </div>
	}
    </div>
</div>

}