@(groupForm: Form[models.Group], userID: String)

@main("Create Group"){

	<div class="row">
    <div class="span8">
    <h2>Add a group</h2>
	    @helper.form(action = routes.Users.addGroup, 'class -> "form-horizontal") {
	    @helper.inputText(groupForm("name"))
	    
	    <input type="text"
                id='@groupForm("owner").id' 
                name='@groupForm("owner").name'
                value='@userID' 
                placeholder='@userID'
                style="visibility: hidden" />
                
	    <div class="form-actions">
	        <input class="btn btn-primary" type="submit">
	    </div>
	}
    </div>
</div>

}