@(field: Field, label: String = "", it: Iterator[RecurrenceType.Value])

<div class="form-group @if(field.hasErrors) {has-error}">
	<label class="col-sm-2 control-label">@label</label>
    	<div class="col-sm-5">
    		<select name="@field.name" class="form-control" style="width:150px">
    			<option value=""> </option>
    			<option value="Daily"> Daily </option>
    			<option value="Weekly"> Weekly </option>
    			<option value="Monthly"> Monthly </option>
    			<option value="Yearly"> Yearly </option>
    		</select>
    	</div>
</div>
	
    
    