@(form: Form[models.Event], recurrenceTypes: Iterator[RecurrenceType.Value], calMap: scala.collection.mutable.Map[String, String])
@import helper.twitterBootstrap._

@main("Add Event"){

<div class="row">
    <div class="span8">
    <legend>Add an event</legend>


	@helper.form(action = routes.Events.create, 'class -> "form-horizontal") {


        <!-- Calendar -->
        @text(form("calendar"),
    		label = "Calendar",
        	placeholder = "Calendar",
        	help = "Calendar ID")
        	
      	<!-- Event Name -->
		@text(form("name"),
    		label = "Name",
        	placeholder = "Event Name",
        	help = "Event Name")
 
 		<!--  Description -->
		@textarea(form("description"),
    	label = "Description",
        placeholder = "Event Description",
        help = "Event description")
        
        <!--  Time Range -->
        @datepicker(form("timeRange.startDate"),
        	label = "Start Date")  
       
        @timepicker(form("timeRange.startTime"),
        	label = "Start Time")  
        	
        @datepicker(form("timeRange.endDate"),
        	label = "End Date")  
        
        @timepicker(form("timeRange.endTime"),
        	label = "End Time")  
        	
      	<!--  All day -->  
      	<div>
     	<label class="col-sm-2 control-label"> All Day </label>
    		<div class="col-sm-10">   	
       			@helper.checkbox(form("timeRange.allday"))
       		</div>
       	</div>
       	
       	<!--  Recurrence Details -->    	
       	@dropdown(form("recurrenceMeta.recurrenceType"),
    		label = "Recurrence Type",
        	it = recurrenceTypes)
        			
        @datepicker(form("recurrenceMeta.timeRange.endDate"),
        	label = "Recurrence End Date")
       		
		<label class="col-sm-2"> </label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit"> 
			</div>
		</div>
		
		<br>
		<br>
		<br>
    }
    </div>
</div>
}