@(form: Form[models.Event], recurrenceTypes: Iterator[RecurrenceType.Value])
@import helper.twitterBootstrap._


@main("Add Event"){

<div class="row">
    <div class="span8">
    <legend>Add an event</legend>
    @helper.form(action = routes.Events.create, 'class -> "form-horizontal") {

        <!-- Calendar -->
        @text(form("calendar"),
    		label = "Calendar",
        	placeholder = "Calendar",
        	help = "Calendar ID")
        	
      	<!-- Event Name -->
		@text(form("name"),
    		label = "Name",
        	placeholder = "Event Name",
        	help = "Event Name")
 
 		<!--  Description -->
		@textarea(form("description"),
    	label = "Description",
        placeholder = "Event Description",
        help = "Event description")
        
        <!--  Time Range -->
        @datepicker(form("timeRange.startDate"),
        	"Start Date")  
       
        @timepicker(form("timeRange.startTime"),
        	"Start Time")  
        	
        @datepicker(form("timeRange.endDate"),
        	"End Date")  
        
        @timepicker(form("timeRange.endTime"),
        	"End Time")  
        	
      	<!--  All day -->      
     	<label class="col-sm-2 control-label"> All Day </label>
    		<div class="col-sm-10">   	
       			@helper.checkbox(form("timeRange.allday"))
       		</div>
       	
       	<!--  Recurrence -->
      	
       			 @dropdown(form("recurrenceMeta.recurrenceType"),
    				label = "Recurrence Type",
        			it = recurrenceTypes)
       		
        
        	

       	<br>
       	<br>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit">
        </div>
    }
    </div>
</div>
}