@(event: models.Event, reminderForm: Form[models.Reminder], ruleForm: Form[models.Rule], userID: String)
@import helper.twitterBootstrap._

@main("Event Information"){
<div class="row">
	<div class="span8">
		<h2>Event Information: @event.name</h2>
		<legend>Add Reminder</legend>
		@helper.form(action = routes.Events.addReminder(event.id.stringify),
		'class -> "form-horizontal") { 
		
		<!-- Event ID (Auto-filled) -->
		<input type="text"
			id='@reminderForm("eventID").id' 
			name='@reminderForm("eventID").name'
			value='@event.id.stringify' 
			placeholder='@event.id.stringify'
			style="visibility: hidden" />

		<!-- Date -->
		@datepicker(reminderForm("timestamp.startDate"), label = "Date")

		<!-- Start Time -->
		@timepicker(reminderForm("timestamp.startTime"), label = "Start Time")

		<!--  User ID (Auto-filled) -->
		<input type="text" 
			id='@reminderForm("user").id'
			name='@reminderForm("user").name' 
			value="@userID"
			placeholder="@userID"
			style="visibility: hidden" /> 
			
		<input type="text" 
			id='@reminderForm("reminderType").id'
			name='@reminderForm("reminderType").name' 
			value="Email"
			placeholder="Email" 
			style="visibility: hidden" /> 
			
		<label class="col-sm-2"> </label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
		
	</div>

	}
    
    <br>
    
    <legend>Rules</legend><br>
    <div class="container">
    	<table class="table">
    		<thead>
    			<tr>
    				<td>Rule Number</td>
    				<td>Rule Type</td>
    				<td>Entity ID</td>
    				<td>Access Type</td>
    				<td>Reorder</td>
    				<td>Delete</td>
    			</tr>	
    		</thead>
    		<tbody>
    			@if(event.rules.isEmpty){
    				<tr>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    				</tr>
    			} else {
    				@for(r <- event.rules){
    					<tr>
    						<td>@r.orderNum</td>
    						<td>@r.entityType</td>
    						<td>@r.entityID.stringify</td>
    						<td>@r.accessType</td>
    						<td><a class="btn btn-default" onclick="location.href='/events/@event.id.stringify/@r.orderNum/move/up'" role="button">Up</a><a class="btn btn-default" href="/events" role="button">Down</a></td>
    						<td><a href="/events/@event.id.stringify/@r.orderNum/deleteRule" class="btn btn-info" role="button">Delete</a></td>
    					</tr>
    				}
    			}
    		</tbody>
    	</table>
    </div>
    <br>
        @helper.form(action = routes.Events.addRule(event.id.stringify), 'class -> "form-horizontal") {
        
        <input type="number" 
             id='@ruleForm("orderNum").id' 
             name='@ruleForm("orderNum").name' 
             value='@event.rules.length'
             placeholder='@event.rules.length' 
             style="visibility:hidden"
             />         
      
        @ruleDropdown(ruleForm("entityType"), 
        	label = "Rule Type")
        
        @text(ruleForm("entityID"), 
       		label = "Entity ID",
       		placeholder = "placeholder")
        
        @accessDropdown(ruleForm("accessType"),
        	label = "Access Type")
        
       	<label class="col-sm-2"></label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
    }
    </div>
</div>

}
