@(events: List[models.Event], eventType: String)

@import scala.concurrent.ExecutionContext.Implicits.global
@import apputils.CalendarDAO

@main("Events"){
        
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1>Events</h1>
		</div>
		<div class="col-md-3">
			<br>
			<a href="/events/new" class="btn btn-info" role="button">Add Event</a>
			<a href="/addCalendar" class="btn btn-info" role="button">Add Calendar</a>
		</div>
	</div>
</div>

<div class="container">
@if(eventType == "Fixed"){
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Name</th>
				<th>Description</th>
				<th>Calendar</th>
			</tr>
		</thead>
		<tbody>
			@if(events.isEmpty){
				<tr>
					<td>No Date</td>
					<td>No Time</td>
					<td>No Name</td>
					<td>No Description</td>
					<td>No Owner</td>
					<td>Delete</td>
				</tr>
			} else {
				
				@for(e <- events){
				<tr>
					<td>@e.timeRange.startDate.get.toString("MMM-dd-yyyy")</td>
					<td>@e.timeRange.startTime.get.toString("hh:mm a")-@e.timeRange.endTime.get.toString("hh:mm a")</td>
					<td><a href="./events/info/@e._id.stringify">@e.name</a></td>
					<td>@e.description</td>
					<td>@CalendarDAO.getCalendarFromID(e.calendar).name</td>
					<td><a href="/events/@e._id.stringify/delete" class="btn btn-info" role="button">Delete</a></td>
				    <td><a href="/events/@e._id.stringify/edit" class="btn btn-info" role="button">Edit</a></td>
				</tr>
				}
			}
		</tbody>
	
	</table>
}

@if(eventType == "PUD"){
	<table class="table">
		<thead>
			<tr>
			<th>Priority</th>
				<th>Duration</th>
				<th>Name</th>
				<th>Description</th>
				<th>Calendar</th> 
			</tr>
		</thead>
		@if(events.isEmpty){
		
		}
		else {
			@for(e <- events){
				<tr>
				 	<td>@e.PUDPriority</td>
					<td>@e.timeRange.duration.get</td>
					<td><a href="./events/info/@e._id.stringify">@e.name</a></td>
					<td>@e.description</td>
					<td>@CalendarDAO.getCalendarFromID(e.calendar).name</td>
				</tr>
			}
		}
	</table>

}

</div>
}
