@(event: models.Event, reminderForm: Form[models.Reminder], ruleForm: Form[models.Rule], userID: String, users: List[models.User])
@import apputils.CreationRequestDAO
@import apputils.UserDAO
@import apputils.CalendarDAO
@import apputils.GroupDAO
@import apputils.AuthStateDAO
@import org.joda.time.Duration


@import reactivemongo.api.collections.default.BSONCollection
@import reactivemongo.bson._
@import reactivemongo.extensions.json.dsl.JsonDsl._
@import play.modules.reactivemongo.json.BSONFormats.BSONObjectIDFormat

@main("Event Information"){
<div class="row">
	<div class="span8">
		@if(event.eventType.toString == models.enums.EventType.Fixed.toString){
			<h2>Event Information: @event.name</h2>
			@if(event.viewType.isDefined && event.viewType.get.toString == models.enums.ViewType.PUDEvent.toString){
				<h3>*This event is populated with a PUD*</h3>
			}

			<h3>@event.timeRange.start.toString("MMM-dd-yyyy") @event.timeRange.start.toString("hh:mm a")
            @if(event.timeRange.duration.getMillis < Duration.standardDays(1).getMillis & event.timeRange.end.isDefined){
                to @event.timeRange.end.get.toString("MMM-dd-yyyy") @event.timeRange.end.get.toString("hh:mm a")
            } </h3>
            
			<p>Description: @event.description</p>
			<p>Calendar: @CalendarDAO.getCalendarFromID(event.calendar).name</p>
			
		}else{
			<h2>PUD Information: @event.name</h2>
			<p> Duration: @event.timeRange.duration.getStandardMinutes minutes</p>
			<p> Priority: @event.PUDPriority</p>
		}
			
		<legend>Add Reminder</legend>
		@helper.form(action = routes.Events.addReminder(event._id.stringify),'class -> "form-horizontal") { 
		
		<!-- Event ID (Auto-filled) -->
		<input type="text"
			id='@reminderForm("eventID").id' 
			name='@reminderForm("eventID").name'
			value='@event._id.stringify' 
			placeholder='@event._id.stringify'
			style="visibility: hidden" />
			
		@if(!(event.eventType.toString == models.enums.EventType.PUD.toString)){
		<!-- Date -->
		@viewComponents.html.datepicker(reminderForm("timestamp.startDate"), label = "Date")

		<!-- Start Time -->
		@viewComponents.html.timepicker(reminderForm("timestamp.startTime"), label = "Start Time")
		}

		<!--  User ID (Auto-filled) -->
		<input type="text" 
			id='@reminderForm("user").id'
			name='@reminderForm("user").name' 
			value="@userID"
			placeholder="@userID"
			style="visibility: hidden" /> 
			
		<input type="text" 
			id='@reminderForm("reminderType").id'
			name='@reminderForm("reminderType").name' 
			value="Email"
			placeholder="Email" 
			style="visibility: hidden" /> 
			
		@if(event.eventType.toString == models.enums.EventType.PUD.toString){
			@viewComponents.html.number(reminderForm("timestamp.durationDay"),
                label = "Days after creation until Emails start")
            @viewComponents.html.number(reminderForm("timestamp.durationHour"),
                label = "Hours")    
            @viewComponents.html.number(reminderForm("timestamp.durationMin"),
				label = "Min")
			
			@viewComponents.html.dropdown(reminderForm("recurrenceMeta.recurrenceType"),
	    		label = "Recurrence Type",
	        	List("", "Daily", "Weekly", "Monthly", "Yearly")) 
	       
	       	@viewComponents.html.number(reminderForm("recurrenceMeta.daily.numberOfDays"), 
	       		label = "Days",
	       		help = "How many days between each reminder?")
	       		
	       	@viewComponents.html.number(reminderForm("recurrenceMeta.weekly.numberOfWeeks"), 
	       		label = "Weeks",
	       		help = "How many weeks between each reminder?")
	       	
	       	@viewComponents.html.number(reminderForm("recurrenceMeta.monthly.numberOfMonths"), 
	       		label = "Months",
	       		help = "How many months between each reminder?")
	       
	       @viewComponents.html.number(reminderForm("recurrenceMeta.yearly.numberOfYears"), 
	       		label = "Years",
	       		help = "How many years between each reminder?")
	       	

		<script type="text/javascript">
			$(document).ready(function(){
				$('#@reminderForm("recurrenceMeta.daily.numberOfDays").id').hide();
				$('#@reminderForm("recurrenceMeta.weekly.numberOfWeeks").id').hide();
				$('#@reminderForm("recurrenceMeta.monthly.numberOfMonths").id').hide();
				$('#@reminderForm("recurrenceMeta.yearly.numberOfYears").id').hide();				
			});
			
	    	$(document).ready(function(){
		    	$('#@(reminderForm("recurrenceMeta.recurrenceType").id+"s")').on('change', function() {   	     
				      if (this.value == "Daily"){
							$('#@reminderForm("recurrenceMeta.daily.numberOfDays").id').show();
							$('#@reminderForm("recurrenceMeta.weekly.numberOfWeeks").id').hide();
							$('#@reminderForm("recurrenceMeta.monthly").id').hide();
							$('#@reminderForm("recurrenceMeta.yearly.numberOfYears").id').hide();
				      }
				      if (this.value == "Weekly"){
							$('#@reminderForm("recurrenceMeta.daily.numberOfDays").id').hide();
							$('#@reminderForm("recurrenceMeta.weekly.numberOfWeeks").id').show();
							$('#@reminderForm("recurrenceMeta.monthly.numberOfMonths").id').hide();
							$('#@reminderForm("recurrenceMeta.yearly.numberOfYears").id').hide();
				      }
				      
				      if (this.value == "Monthly"){
							$('#@reminderForm("recurrenceMeta.daily.numberOfDays").id').hide();
							$('#@reminderForm("recurrenceMeta.weekly.numberOfWeeks").id').hide();
							$('#@reminderForm("recurrenceMeta.monthly.numberOfMonths").id').show();
							$('#@reminderForm("recurrenceMeta.yearly.numberOfYears").id').hide();			      
				      }
				      
				      if (this.value == "Yearly"){
							$('#@reminderForm("recurrenceMeta.daily.numberOfDays").id').hide();
							$('#@reminderForm("recurrenceMeta.weekly.numberOfWeeks").id').hide();
							$('#@reminderForm("recurrenceMeta.monthly.numberOfMonths").id').hide();
							$('#@reminderForm("recurrenceMeta.yearly.numberOfYears").id').show();			      
				      }     
		    });
		});
	    </script>
		} 
		
		<label class="col-sm-2"> </label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
		
	}
	
    <legend>Reminders</legend>
    @if(event.reminders.isDefined) {
    
	    @if(event.reminders.get.isEmpty){
	        <p>No reminders yet</p>
	    } else {        
	        <table class="table">
	                <thead>
	                    <tr>
	                        <th>Date</th>
	                        <th>Time</th>
	                        <th>Recurrence</th>
	                    </tr>
	                </thead>
	                    <tbody>     
	                        @event.reminders.get.map { reminder =>
	                            <tr>
	                                <td>@reminder.timestamp.start.toString("MMM-dd-yyyy")</td>
	                                <td>@reminder.timestamp.start.toString("hh:mm a")</td>
	                                <td>@if(reminder.recurrenceMeta.isDefined){
	                                    @reminder.recurrenceMeta.get.recurrenceType
	                                } else { No }</td>
	                            </tr>
	                    }
	                </tbody>
	            </table>
	    }
    }
    <br>

     @if(!event.viewType.isDefined){
   
    <legend>Invitations</legend>

    
    @helper.form(action = routes.Events.createUserCreationRequest, 'class -> "form-horizontal"){
    <input type="hidden" name="eventID" value='@event._id.stringify'>
    <div class="form-group">
		<label class="col-sm-2 control-label">Invite a User</label>
			<div class="col-sm-5">
    			<select name="userEmail" class="form-control" style="width:250px"> 
					@for(element <- users){
			       		<option value='@element.email'> @element.email </option>
			        }  
			</select>
		</div>  
	</div> 	
	<br>	
	<label class="col-sm-2 control-label"></label>
			<div class="col-sm-5">		        				   
				<input class="btn btn-primary" type="submit">
			</div>
	}	
	
	<br>
	<br>
	<br>
	

    @defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
    	@if(!groupList.isEmpty){
			@helper.form(action = routes.Events.createGroupCreationRequest, 'class -> "form-horizontal"){
			<input type="hidden" name="eventID" value='@event._id.stringify'>
		    <div class="form-group">
				<label class="col-sm-2 control-label">Invite a Group</label>
					<div class="col-sm-5">
		    			<select name="groupID" class="form-control" style="width:250px"> 
							@for(element <- groupList){
					       		<option value='@element._id.stringify'> @element.name </option>
					        }  
					</select>
				</div>  
			</div> 


	<br>
	
	<label class="col-sm-2 control-label"></label>
			<div class="col-sm-5">		        				   
				<input class="btn btn-primary" type="submit">
			</div>
}

			}
		}
	}

	</div>	 
	<br>
	<br>     			
    	
    @defining(CreationRequestDAO.getCreationRequestsFromMaster(event._id)){ requestList =>
    @if(!requestList.isEmpty){
    <div class="container">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Person</th>
    				<th>Email</th>
    				<th>Status</th>
    			</tr>
    		</thead>
    		
    		@for(element <- requestList){
    			<tr>
    				<td>@UserDAO.getOwner(element.eventID).username</td>
    				<td>@UserDAO.getOwner(element.eventID).email</td>
    				<td>@element.requestStatus</td>
    		}
    	</table>
    	}
    </div>
    }
    
    <legend>Sharing</legend><br>
    <div class="container">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Rule Number</th>
    				<th>Rule Type</th>
    				<th>Entity ID</th>
    				<th>Access Type</th>
    				<th>Reorder</th>
    				<th>Delete</th>
    			</tr>	
    		</thead>
    		<tbody>
    			@if(event.rules.isEmpty){
    				<tr>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    				</tr>
    			} else {
    				@for(r <- event.rules.sortBy ( rule => rule.orderNum )){
    					<tr>
    						<td>@r.orderNum</td>
    						<td>@r.entityType</td>
    						<td>@r.entityID.stringify</td>
    						<td>@r.accessType</td>
    						<td><a class="btn btn-default" onclick="location.href='/events/@event._id.stringify/@r.orderNum/move/up'" role="button">Up</a><a class="btn btn-default" onclick="location.href='/events/@event._id.stringify/@r.orderNum/move/down'" role="button">Down</a></td>
    						<td><a href="/events/@event._id.stringify/@r.orderNum/deleteRule" class="btn btn-info" role="button">Delete</a></td>
    					</tr>
    				}
    			}
    		</tbody>
    	</table>
    </div>
    <br>
        @helper.form(action = routes.Events.addRule(event._id.stringify), 'class -> "form-horizontal") {
        
        <input type="number" 
             id='@ruleForm("orderNum").id' 
             name='@ruleForm("orderNum").name' 
             value='@event.rules.length'
             placeholder='@event.rules.length' 
             style="visibility:hidden"
             />         
      
        @viewComponents.html.dropdown(ruleForm("entityType"), 
        	label = "Rule Type",
        	List("User", "Group"))
        
	   <div class="form-group">
			<label class="col-sm-2 control-label">Add a User</label>
				<div class="col-sm-5">
	    			<select name='@ruleForm("entityID").id' class="form-control" style="width:250px"> 
						@for(element <- users){
				       		<option value='@element._id.stringify'> @element.email </option>
				        }  
				</select>
			</div>  
		</div> 	
		<!-- @if(event.eventType.toString == models.enums.EventType.PUD.toString){
			@viewComponents.html.dropdown(ruleForm("accessType"),
        	label = "Access Type",
        	List("BusyOnly"))
		} else{  -->    
        
        <!-- }  Doesn't matter. Also I think you were trying to restrict PUDEvents which is a ViewType, not PUDs -->
        @viewComponents.html.dropdown(ruleForm("accessType"),
            label = "Access Type",
            List("BusyOnly", "SeeAll", "Modify"))
            
       	<label class="col-sm-2"></label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
    }
    </div>
</div>

}