@(form: Form[models.Event], recurrenceTypes: Iterator[RecurrenceType.Value])
@import helper.twitterBootstrap._

<div class="row">
    <div class="span8">
    <h2>Add an event</h2>
    @helper.form(action = routes.Events.create, 'class -> "form-horizontal") {
        @helper.inputText(form("calendar"))
        TODO: list user's calendars as a dropdown and then send the calendar ID to the form
        @helper.inputText(form("name"))
        @helper.inputText(form("description"))
        @helper.inputDate(form("timeRange.startDate"))
        @helper.inputText(form("timeRange.startTime"))
        @helper.inputDate(form("timeRange.endDate"))  
        @helper.inputText(form("timeRange.endTime"))
        @helper.checkbox(form("timeRange.allday")) 
        <br><br>
        -Recurrence JQuery toggle magic- 
        @helper.inputDate(form("recurrenceMeta.timeRange.endDate"))
        <br>
        <!--
        Recurrence start and end<br><br>
        @helper.inputDate(form("recurrenceMeta.timeRange.startDate"))
        <br><br>
        -->
        <!--  going to ignore these for now, this is if you want recurring reminders
        "reminderTime" -> optional(longNumber),
        "reminderType" -> optional(nonEmptyText), -->
        <br><br>
        
        <input type="text" name="recurrenceMeta.recurrenceType" value='@form("recurrenceMeta.recurrenceType").value' ><br>
        Required. Default "Daily". Dropdown that sends string, options should be "Daily", "Weekly", "Monthly" or "Yearly"<br>
        You can use this iterator I pass in: @recurrenceTypes
       
        <!--
        <br><br>
        -recurrenceType: Daily-<br>
        Number of days: <input type="number" name="recurrenceMeta.daily.numberOfDays" value='@form("recurrenceMeta.daily.numberOfDays").value' >
        
        <br><br>
        -recurrenceType: Weekly-<br>
        Day number (Sunday is 0): <input type="number" name="recurrenceMeta.weekly.dayNumber" value='@form("recurrenceMeta.weekly.dayNumber").value' >
        
        <br><br>
        -recurrenceType: Monthly-<br>
        Day of the month: <input type="number" name="recurrenceMeta.monthly.monthDay" value='@form("recurrenceMeta.monthly.monthDay").value' >
        
        <br><br>
        -recurrenceType: Yearly-<br>
        Month (number): <input type="number" name="recurrenceMeta.yearly.month" value='@form("recurrenceMeta.yearly.month").value' ><br>
        Day: <input type="number" name="recurrenceMeta.yearly.day" value='@form("recurrenceMeta.yearly.day").value' ><br>
        Idea: Change this field to a datepicker and then send a date object to the backend          
        --> 
        <div class="form-actions">
            <input class="btn btn-primary" type="submit">
        </div>
    }
    </div>
</div>