@(event: models.Event, reminderForm: Form[models.Reminder], ruleForm: Form[models.Rule], userID: String, users: List[models.User])
@import apputils.CreationRequestDAO
@import apputils.UserDAO
@import apputils.CalendarDAO
@import org.joda.time.Duration
@main("Event Information"){
<div class="row">
	<div class="span8">
		@if(event.eventType.toString == models.enums.EventType.Fixed.toString){
			<h2>Event Information: @event.name</h2>

			<h3> @event.timeRange.start.toString("MMM-dd-yyyy") @event.timeRange.start.toString("hh:mm a") to @event.timeRange.end.get.toString("hh:mm a")</h3>
            <h3>@event.timeRange.start.toString("MMM-dd-yyyy") @event.timeRange.start.toString("hh:mm a") to
            @if(event.timeRange.duration.getMillis < Duration.standardDays(1).getMillis & event.timeRange.end.isDefined){
                @event.timeRange.end.get.toString("MMM-dd-yyyy") @event.timeRange.end.get.toString("hh:mm a")
            } </h3>
            
			<p>Description: @event.description</p>
			<p>Calendar: @CalendarDAO.getCalendarFromID(event.calendar).name</p>
		}else{
			<h2>PUD Information: @event.name</h2>
		}
			
		<legend>Add Reminder</legend>
		@helper.form(action = routes.Events.addReminder(event._id.stringify),
		'class -> "form-horizontal") { 
		
		<!-- Event ID (Auto-filled) -->
		<input type="text"
			id='@reminderForm("eventID").id' 
			name='@reminderForm("eventID").name'
			value='@event._id.stringify' 
			placeholder='@event._id.stringify'
			style="visibility: hidden" />

		<!-- Date -->
		@viewComponents.html.datepicker(reminderForm("timestamp.startDate"), label = "Date")

		<!-- Start Time -->
		@viewComponents.html.timepicker(reminderForm("timestamp.startTime"), label = "Start Time")

		<!--  User ID (Auto-filled) -->
		<input type="text" 
			id='@reminderForm("user").id'
			name='@reminderForm("user").name' 
			value="@userID"
			placeholder="@userID"
			style="visibility: hidden" /> 
			
		<input type="text" 
			id='@reminderForm("reminderType").id'
			name='@reminderForm("reminderType").name' 
			value="Email"
			placeholder="Email" 
			style="visibility: hidden" /> 
			
		<label class="col-sm-2"> </label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
		
	

	}
    
    <br>
    <legend>Sharing</legend>
    
    @helper.form(action = routes.Events.createUserCreationRequest, 'class -> "form-horizontal"){
    <input type="hidden" name="eventID" value='@event._id.stringify'>
    <div class="form-group">
		<label class="col-sm-2 control-label">User</label>
			<div class="col-sm-5">
    			<select name="userEmail" class="form-control" style="width:250px"> 
					@for(element <- users){
			       		<option value='@element.email'> @element.email </option>
			        }  
			</select>
		</div>  
	</div> 
	
	<br>
	
	<label class="col-sm-2 control-label"></label>
			<div class="col-sm-5">		        				   
				<input class="btn btn-primary" type="submit">
			</div>
	}	
	
	</div>	 
	<br>
	<br>     			
    @defining(CreationRequestDAO.getCreationRequestsFromMaster(event._id)){ requestList =>
    	@if(!requestList.isEmpty){
    <div class="container">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Person</th>
    				<th>Email</th>
    				<th>Status</th>
    			</tr>
    		</thead>
    		
    		@for(element <- requestList){
    			<tr>
    				<td>@UserDAO.getOwner(element.eventID).username</td>
    				<td>@UserDAO.getOwner(element.eventID).email</td>
    				<td>@element.requestStatus</td>
    		}
    	</table>
    	}
    </div>
    }
    
    <legend>Rules</legend><br>
    <div class="container">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Rule Number</th>
    				<th>Rule Type</th>
    				<th>Entity ID</th>
    				<th>Access Type</th>
    				<th>Reorder</th>
    				<th>Delete</th>
    			</tr>	
    		</thead>
    		<tbody>
    			@if(event.rules.isEmpty){
    				<tr>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    					<td>None</td>
    				</tr>
    			} else {
    				@for(r <- event.rules.sortBy ( rule => rule.orderNum )){
    					<tr>
    						<td>@r.orderNum</td>
    						<td>@r.entityType</td>
    						<td>@r.entityID.stringify</td>
    						<td>@r.accessType</td>
    						<td><a class="btn btn-default" onclick="location.href='/events/@event._id.stringify/@r.orderNum/move/up'" role="button">Up</a><a class="btn btn-default" onclick="location.href='/events/@event._id.stringify/@r.orderNum/move/down'" role="button">Down</a></td>
    						<td><a href="/events/@event._id.stringify/@r.orderNum/deleteRule" class="btn btn-info" role="button">Delete</a></td>
    					</tr>
    				}
    			}
    		</tbody>
    	</table>
    </div>
    <br>
        @helper.form(action = routes.Events.addRule(event._id.stringify), 'class -> "form-horizontal") {
        
        <input type="number" 
             id='@ruleForm("orderNum").id' 
             name='@ruleForm("orderNum").name' 
             value='@event.rules.length'
             placeholder='@event.rules.length' 
             style="visibility:hidden"
             />         
      
        @viewComponents.html.dropdown(ruleForm("entityType"), 
        	label = "Rule Type",
        	List("User", "Group"))
        
        @viewComponents.html.text(ruleForm("entityID"), 
       		label = "Entity ID",
       		placeholder = "placeholder")
        
        @viewComponents.html.dropdown(ruleForm("accessType"),
        	label = "Access Type",
        	List("BusyOnly", "SeeAll", "Modify"))
        
       	<label class="col-sm-2"></label>
		<div class="col-sm-5">
			<div class="form-actions">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
    }
    </div>
</div>

}