@(groups: List[models.Group], groupForm: Form[models.Group])

@main("Settings") {
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1>Groups</h1>
		</div>
		<div class="col-md-3">
			<br>
			<a href="./groups/new" class="btn btn-info" role="button">Create Group</a>
		</div>
	</div>
</div>

	<div class="container">
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Users</th>
				<th>Add User</th>
			</thead>
			<tbody>
				@if(groups.isEmpty){
					<tr>
						<td>No Groups</td>
						<td>None</td>
						<td>None</td>
					</tr>
				} else { 
					@for(g <- groups){
					<tr>
						<td>@g.name</td>
						<td>@g.userIDs</td>
						<td>
							@helper.form(action = routes.Users.addUsertoGroup, 'class -> "form-horizontal") {
                    			<input type="hidden" name="groupID" value='@g.id.stringify' >			        
			        			userID: <input type="text" name="userID" value="userID" >                    
			            			<input class="btn btn-primary" type="submit">
		       				 }
						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>


</div>
}





<!-- @if(groups.isEmpty){
    <p>You don't own any groups</p>
} else {
    <ul>
        @groups.map { group =>
            <li>
                @group.name<br>
                @group.userIDs<br>
                Loop through IDs<br>
                Also probably need to call some sort of frontend helper function that returns the username given an ID<br>
                And vice versa<br>
                
                Call to addUsertoGroup with parameters (@group.id.stringify, username or ID)
                <br><br>
                Add user to <b>@group.name</b><br>
                @helper.form(action = routes.Users.addUsertoGroup, 'class -> "form-inline") {
                    <input type="hidden" name="groupID" value='@group.id.stringify' >			        
			        userID: <input type="text" name="userID" value='userID' >                    
			        <div class="form-actions">
			            <input class="btn btn-primary" type="submit">
			        </div>
		        }
            </li>
            }
    </ul>
} -->


