@(schedulingForm: Form[(List[TimeRange], Option[RecurrenceMeta], Option[List[String]], String, Option[String], Int, Option[Int], Option[Int])], 
	scheduleMap: Option[scala.collection.mutable.Map[TimeRange, (List[Event], Form[(List[TimeRange], Option[RecurrenceMeta], Option[List[String]], String, Option[String], Int, Option[Int], Option[Int])])]], 
	userList: List[models.User], userID : String)
	
@import apputils.CreationRequestDAO
@import apputils.UserDAO
@import apputils.CalendarDAO
@import apputils.GroupDAO
@import apputils.AuthStateDAO
@import org.joda.time.Duration


@import reactivemongo.api.collections.default.BSONCollection
@import reactivemongo.bson._
@import reactivemongo.extensions.json.dsl.JsonDsl._
@import play.modules.reactivemongo.json.BSONFormats.BSONObjectIDFormat

@main("Scheduler") {

<div class="row">
	<div class="col-md-9">
		<h1>Scheduler</h1>
		<legend>Schedule an event</legend>
		
		@helper.form(action = routes.Scheduling.schedulingOptions, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
		
			<!-- Event Name -->
			@viewComponents.html.text(schedulingForm("name"),
    			label = "Name",
        		placeholder = "Event Name")
        
 			<!--  Description -->
			@viewComponents.html.textarea(schedulingForm("description"),
    			label = "Description",
        		placeholder = "Event Description") 
        		
        	<!-- Duration -->
        	@viewComponents.html.text(schedulingForm("duration"),
        		label = "Duration (minutes)",
        		placeholder = "30")	
        	
			
			<!-- Users -->
			<div id="User0">
			@defining(UserDAO.getAllUsers()) { userList =>
				<label class="col-sm-2 control-label">Users</label>
				<select name="entities[0]" class="form-control" style="width: 250px">
					@for(element <- userList){
					<option value='@element._id.stringify'>@element.username</option> }
					@defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
						@for(element <- groupList){
							<option value='@element._id.stringify'>@element.name</option> }
					}
				</select>
				}
			</div>
			
		<span aria-hidden="true" id="add"> <span class="glyphicon glyphicon-plus"></span> </span>
        <span aria-hidden="true" id="subtract"> <span class="glyphicon glyphicon-minus"></span> </span>

		<div id="User1">
			@defining(UserDAO.getAllUsers()) { userList =>
				<label class="col-sm-2 control-label">Users</label>
				<select name="entities[1]" class="form-control" style="width: 250px">
					@for(element <- userList){
					<option value='@element._id.stringify'>@element.username</option> }
					@defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
						@for(element <- groupList){
							<option value='@element._id.stringify'>@element.name</option> }
					}
				</select>
				}
			</div>
			
		<div id="User2">
			@defining(UserDAO.getAllUsers()) { userList =>
				<label class="col-sm-2 control-label">Users</label>
				<select name="entities[2]" class="form-control" style="width: 250px">
					@for(element <- userList){
					<option value='@element._id.stringify'>@element.username</option> }
					@defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
						@for(element <- groupList){
							<option value='@element._id.stringify'>@element.name</option> }
					}					
				</select>
				}
			</div>
			
		<div id="User3">
			@defining(UserDAO.getAllUsers()) { userList =>
				<label class="col-sm-2 control-label">Users</label>
				<select name="entities[3]" class="form-control" style="width: 250px">
					@for(element <- userList){
					<option value='@element._id.stringify'>@element.username</option> }
					@defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
						@for(element <- groupList){
							<option value='@element._id.stringify'>@element.name</option> }
					}					
				</select>
				}
			</div>
			
		<div id="User4">
			@defining(UserDAO.getAllUsers()) { userList =>
				<label class="col-sm-2 control-label">Users</label>
				<select name="entities[4]" class="form-control" style="width: 250px">
					@for(element <- userList){
					<option value='@element._id.stringify'>@element.username</option> }
					@defining(GroupDAO.getUsersGroups(BSONObjectID.apply(userID))){ groupList =>
						@for(element <- groupList){
							<option value='@element._id.stringify'>@element.name</option> }
					}
				</select>
				}
			</div>
			

			<input type="number" 
             	class="form-control" 
             	name='@schedulingForm("entitiesCount").name'
             	id = 'counter'
             	value='@schedulingForm("entitiesCount").value.getOrElse("1")'/>
             	               		
        <script type="text/javascript">
        var x = 1;
        $(document).ready(function(){
        	$("#counter").hide();
			for (i = counter.value; i <= 5; i++){
				$("#User" + i).hide();
			}
        	
   
        	$("#add").click(function(e){        		
        		$("#User" + x).show();		
        		++x;
        		counter.value = x;
        		console.log(x);
        	});
        	
        	$("#subtract").click(function(e){
        		$("#User"+x).hide();
        		--x;
        		counter.value = x;
        	
        	});
        
       	});
        </script>
			
        <br><br>
        	
        	<!-- TimeRange -->
        	<div id = Time0>
        	<h4>TimeRange0</h4>
        	@viewComponents.html.datepicker(schedulingForm("timeRanges[0].startDate"),
			label = "Start Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[0].startTime"),
			label = "Start Time")

			@viewComponents.html.datepicker(schedulingForm("timeRanges[0].endDate"),
			label = "End Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[0].endTime"),
			label = "End Time")
			</div>
			
			<span aria-hidden="true" id="tadd"> <span class="glyphicon glyphicon-plus"></span> </span>
        	<span aria-hidden="true" id="tsubtract"> <span class="glyphicon glyphicon-minus"></span> </span>
			
			<div id = Time1>
			<h4>TimeRange1</h4>
        	@viewComponents.html.datepicker(schedulingForm("timeRanges[1].startDate"),
			label = "Start Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[1].startTime"),
			label = "Start Time")

			@viewComponents.html.datepicker(schedulingForm("timeRanges[1].endDate"),
			label = "End Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[1].endTime"),
			label = "End Time")
			</div>
			
			<div id = Time2>
			<h4>TimeRange2</h4>
        	@viewComponents.html.datepicker(schedulingForm("timeRanges[2].startDate"),
			label = "Start Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[2].startTime"),
			label = "Start Time")

			@viewComponents.html.datepicker(schedulingForm("timeRanges[2].endDate"),
			label = "End Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[2].endTime"),
			label = "End Time")
			</div>
			
			<div id = Time3>
			<h4>TimeRange3</h4>
        	@viewComponents.html.datepicker(schedulingForm("timeRanges[3].startDate"),
			label = "Start Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[3].startTime"),
			label = "Start Time")

			@viewComponents.html.datepicker(schedulingForm("timeRanges[3].endDate"),
			label = "End Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[3].endTime"),
			label = "End Time")
			</div>
			
			<div id = Time4>
			<h4>TimeRange4</h4>
        	@viewComponents.html.datepicker(schedulingForm("timeRanges[4].startDate"),
			label = "Start Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[4].startTime"),
			label = "Start Time")

			@viewComponents.html.datepicker(schedulingForm("timeRanges[4].endDate"),
			label = "End Date")

			@viewComponents.html.timepicker(schedulingForm("timeRanges[4].endTime"),
			label = "End Time")
			</div>
			
			<input type="number" 
             	class="form-control" 
             	name='@schedulingForm("timeRangeCount").name'
             	id = 'tcounter'
             	value='@schedulingForm("timeRangeCount").value.getOrElse("1")'/>
             	               		
        <script type="text/javascript">
        var z = 1;
        $(document).ready(function(){
        	$("#tcounter").hide();
			for (k = tcounter.value; k <= 5; k++){
				$("#Time" + k).hide();
			}
        	
   
        	$("#tadd").click(function(e){        		
        		$("#Time" + z).show();		
        		++z;
        		tcounter.value = z;
        		console.log(z);
        	});
        	
        	$("#tsubtract").click(function(e){
        		$("#Time"+z).hide();
        		--z;
        		gcounter.value = z
        	
        	});
        
       	});
        </script>
        <br><br>
			
			<!--  Recurrence Details -->    	
        	@viewComponents.html.datepicker(schedulingForm("recurrenceMeta.timeRange.endDate"),
        	label = "Recurrence End Date")
       		 
			@viewComponents.html.recurrenceHelper(schedulingForm("recurrenceMeta"))
			
			
			<label class="col-sm-2"> </label>
			<div class="col-sm-5">
				<div class="form-actions">
					<input class="btn btn-primary" type="submit"> 
				</div>
			</div>
        	
		}
		<legend>Options</legend>
		<div class = container>
			<table class = table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Conflicts</th>
						<th>Recurrence Type</th>
						<th>Schedule</th>
					</tr>
				</thead>
				<tbody>
					@if(scheduleMap.isEmpty){
						<tr>
							<td>NA</td>
							<td>NA</td>
							<td>No Conflicts</td>
							<td>NA</td>
						</tr>
					}else{

						@for((k, v) <- scheduleMap.get.toList.sortBy ( time => time._1.start.getMillis)){
							<tr>
								<td>@k.start.toString("MMM-dd-yyyy")</td>
								<td>@k.start.toString("hh:mm a") - @k.end.get.toString("hh:mm a")</td>
								<td>@v._1.length</td>
								<td>@v._2("recurrenceMeta.recurrenceType").value </td>
								<td>@helper.form(routes.Scheduling.createEventAndRequests(), 'class -> "form-horizontal"){
									<!-- Time Range -->														
									@viewComponents.html.text(v._2("timeRanges[0].startDate"),
										label = "Start Date")
							
									@viewComponents.html.text(v._2("timeRanges[0].startTime"),
										label = "Start Time")
							
									@viewComponents.html.text(v._2("timeRanges[0].endDate"),
										label = "End Date")
							
									@viewComponents.html.text(v._2("timeRanges[0].endTime"),
										label = "End Time")		
									
									
									<!-- Recurrence -->
									@viewComponents.html.text(v._2("recurrenceMeta.recurrenceType"),
							    		label = "Recurrence Type",
							        	help = "") 
							       
							       	@viewComponents.html.number(v._2("recurrenceMeta.daily.numberOfDays"), 
							       		label = "Days",
							       		help = "How many days between each recurrence?")
							       		
							       	@viewComponents.html.number(v._2("recurrenceMeta.weekly.numberOfWeeks"), 
							       		label = "Weeks",
							       		help = "How many weeks between each recurrence?")
							       	
							       	@viewComponents.html.number(v._2("recurrenceMeta.monthly.numberOfMonths"), 
							       		label = "Months",
							       		help = "How many months between each recurrence?")
							       
							       @viewComponents.html.number(v._2("recurrenceMeta.yearly.numberOfYears"), 
							       		label = "Years",
							       		help = "How many years between each recurrence?")		
							       		
							       	<!-- Entities -->									
									@for(i <- 0 to v._2("entitiesCount").value.get.toInt - 1 ){
										@viewComponents.html.text(v._2("entities[" + i +"]"),
											label = "",
											placeholder ="")
									}
								
									
									@viewComponents.html.text(v._2("name"),
    									label = "Name",
        								placeholder = "Event Name")
        
 					
									@viewComponents.html.textarea(v._2("description"),
							    		label = "Description",
							        	placeholder = "Event Description")
        
									
									@viewComponents.html.number(v._2("duration"),
										label = "",
										help = "")
									
									
									<div class="form-actions">
										<input class="btn btn-primary" type="submit"> 
									</div>
								}</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

}



