@(schedulingForm: Form[(List[TimeRange], Option[RecurrenceMeta], Option[List[String]], String, Option[String], Int)], scheduleMap: Option[scala.collection.mutable.Map[TimeRange, (List[Event], Form[(List[TimeRange], Option[RecurrenceMeta], Option[List[String]], String, Option[String], Int)])]])

@main("Scheduler") {

<div class="row">
	<div class="col-md-9">
		<h1>Scheduler</h1>
		<legend>Schedule an event</legend>
		
		@helper.form(action = routes.Scheduling.showForm, 'class -> "form-horizontal") {
		
			<!-- Event Name -->
			@viewComponents.html.text(schedulingForm("name"),
    			label = "Name",
        		placeholder = "Event Name")
        
 			<!--  Description -->
			@viewComponents.html.textarea(schedulingForm("description"),
    			label = "Description",
        		placeholder = "Event Description") 
        	
		}
	</div>
</div>

}



