@(field: Field, label: String = "")  
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-timepicker.min.css")">
	  	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.min.js")"></script>
	</head>
  
  	<body>
  	<div class="form-group">
		<label for="form-control" class="col-sm-2 control-label">@label</label>	
			<div class="col-sm-10">
				<div class="input-append bootstrap-timepicker">
			    	<input type="text"
			    			id="@field.id"  
			    			name="@field.name"
			    			class="input-small"
			    			value="@field.value.getOrElse("")">
			        <span class="add-on"><span class="glyphicon glyphicon-time"></span></span>
			        <span class="help-block">@{field.error.map { error => error.message }}</span>	  
			    </div>
			 
			        <script type="text/javascript">
			            $('#@field.id').timepicker();
			        </script>
			</div>
	</div>
	</body>